<hr>Navigation:<br>
        <a href="/">Home Page</a><br>
        <a href="/mercury">Mercury</a><br>
        <a href="/venus">Venus</a><br>
        <a href="/earth">Earth</a><br>
        <a href="/mars">Mars</a>