<%- include('partials/header.ejs') %>

        <h1>Earth</h1><hr>
        
        <img src="/img/earth.jpg" alt="The planet Earth" height="200"><br>
        If you are reading this, you probably live here (or at least live just outside its atmosphere.) It is the third closest planet to the sun. It is within its star’s habitable zone and is of a good size for supporting life. It also features large oceans and an atmosphere that are also good for supporting life. It has a single moon.
        
        
<%- include('partials/nav.ejs') %>      
        
<%- include('partials/footer.ejs') %>