<%- include('partials/header.ejs') %>

        <h1>Mars</h1><hr>
        
        <img src="/img/mars.jpg" alt="The planet Mars" height="200"><br>
        Mars is the fourth closest planet to the sun. It is known as the “Red Planet” due to the distinctive red dust that covers its surface (and is often churned up into massive dust storms.) It has some water, but it is mainly frozen and mainly concentrated in its polar ice caps. It also has two small moons.
        
<%- include('partials/nav.ejs') %>      
        
<%- include('partials/footer.ejs') %>