<%- include('partials/header.ejs') %>

        <h1>Mercury</h1><hr>
        
        <img src="/img/mercury.jpg" alt="The planet Mercury" height="200"><br>
        Mercury is the planet that is closest to the sun. It is a rocky planet. As you might imagine, being so close to the sun means that its surface gets very, very hot during the daytime. This close exposure also ensures that it does not have very much resembling an atmosphere, either.
        
        
<%- include('partials/nav.ejs') %>      
        
<%- include('partials/footer.ejs') %>