<%- include('partials/header.ejs') %>

        <h1>Venus</h1><hr>
        
        <img src="/img/venus.jpg" alt="The planet Venus" height="200"><br>
        Venus is the second closest planet to the sun. Its atmosphere is filled with gaseous sulfuric acid that forms a thick layer of clouds, much like how gaseous water forms clouds on Earth. If all of the acid were not hazardous enough, the cloud layer also traps heat within it, resulting in its surface being extremely hot.
        
        
<%- include('partials/nav.ejs') %>      
        
<%- include('partials/footer.ejs') %>